@import "tailwindcss";


@theme {
    --color-brand-background: #F8FBF6;
    --color-brand-green: #34A853;
    --color-brand-green-light: #E6F4EA;
    --color-brand-yellow: #FFD180;
    --color-brand-text: #3D3A3A;
}